### Clean up of downloaded data from GeyserTimes.com and geyserstudy.org

In [21]:
import pandas as pd
import datetime as dt
import re

In [22]:
df = pd.read_csv('old_faithful.csv', index_col='eruptionID')
df.head()

C:\Users\Geopetal Energy\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,geyser,eruption_time_epoch,has_seconds,exact,ns,ie,E,A,wc,ini,...,duration,entrant,observer,eruption_comment,time_updated,time_entered,associated_primaryID,other_comments,Old_Faithful_Preplay_Time_VEC,Old_Faithful_Height_VEC
eruptionID,,,,,,,,,,,,,,,,,,,,,
23132,Old Faithful,10506540,0,1,0,0,0,0,0,0,...,4min,BoekelUpload,OFVCL-EV,NaN,1335129843,1335129843,23132,NaN,NaN,NaN
23133,Old Faithful,10510800,0,1,0,0,0,0,0,0,...,1.5min,BoekelUpload,OFVCL-EV,NaN,1335129876,1335129876,23133,NaN,NaN,NaN
23134,Old Faithful,10513800,0,1,0,0,0,0,0,0,...,4.25m,BoekelUpload,OFVCL-EV,NaN,1335129909,1335129909,23134,NaN,NaN,NaN
23135,Old Faithful,10517820,0,1,0,0,0,0,0,0,...,4m,BoekelUpload,OFVCL-EV,NaN,1335129944,1335129944,23135,NaN,NaN,NaN
23136,Old Faithful,10522680,0,1,0,0,0,0,0,0,...,1.75min,BoekelUpload,OFVCL-EV,NaN,1335130069,1335130069,23136,NaN,NaN,NaN

In [3]:
df.columns

Index(['geyser', 'eruption_time_epoch', 'has_seconds', 'exact', 'ns', 'ie',
       'E', 'A', 'wc', 'ini', 'maj', 'min', 'q', 'duration', 'entrant',
       'observer', 'eruption_comment', 'time_updated', 'time_entered',
       'associated_primaryID', 'other_comments',
       'Old_Faithful_Preplay_Time_VEC', 'Old_Faithful_Height_VEC'],
      dtype='object')

In [23]:
df.drop(['has_seconds', 'exact', 'ns', 'ie', 'E', 'A', 'wc', 'entrant','ini', 'maj', 'min', 'q','eruption_comment', 'time_updated', 'time_entered',
       'associated_primaryID', 'other_comments','Old_Faithful_Preplay_Time_VEC','Old_Faithful_Height_VEC'], axis=1, inplace=True)

In [24]:
df['date'] = pd.to_datetime(df['eruption_time_epoch'], unit='s')

In [25]:
df.head()

,geyser,eruption_time_epoch,duration,observer,date
eruptionID,,,,,
23132,Old Faithful,10506540,4min,OFVCL-EV,1970-05-02 14:29:00
23133,Old Faithful,10510800,1.5min,OFVCL-EV,1970-05-02 15:40:00
23134,Old Faithful,10513800,4.25m,OFVCL-EV,1970-05-02 16:30:00
23135,Old Faithful,10517820,4m,OFVCL-EV,1970-05-02 17:37:00
23136,Old Faithful,10522680,1.75min,OFVCL-EV,1970-05-02 18:58:00

In [26]:
df['year'] = df['date'].dt.year
df.head()

,geyser,eruption_time_epoch,duration,observer,date,year
eruptionID,,,,,,
23132,Old Faithful,10506540,4min,OFVCL-EV,1970-05-02 14:29:00,1970
23133,Old Faithful,10510800,1.5min,OFVCL-EV,1970-05-02 15:40:00,1970
23134,Old Faithful,10513800,4.25m,OFVCL-EV,1970-05-02 16:30:00,1970
23135,Old Faithful,10517820,4m,OFVCL-EV,1970-05-02 17:37:00,1970
23136,Old Faithful,10522680,1.75min,OFVCL-EV,1970-05-02 18:58:00,1970

In [27]:
df["waiting_time_mins"] = df["eruption_time_epoch"].diff(-1)/60
df.tail()

,geyser,eruption_time_epoch,duration,observer,date,year,waiting_time_mins
eruptionID,,,,,,,
1112210,Old Faithful,1562807400,NaN,NaN,2019-07-11 01:10:00,2019,-95.0
1112217,Old Faithful,1562813100,NaN,NaN,2019-07-11 02:45:00,2019,-117.0
1112226,Old Faithful,1562820120,NaN,NaN,2019-07-11 04:42:00,2019,-82.0
1112231,Old Faithful,1562825040,NaN,NaN,2019-07-11 06:04:00,2019,-98.0
1112232,Old Faithful,1562830920,NaN,NaN,2019-07-11 07:42:00,2019,NaN

In [28]:
df["waiting_time_hrs"] = df["eruption_time_epoch"].diff(-1)/3600
df.head()

,geyser,eruption_time_epoch,duration,observer,date,year,waiting_time_mins,waiting_time_hrs
eruptionID,,,,,,,,
23132,Old Faithful,10506540,4min,OFVCL-EV,1970-05-02 14:29:00,1970,-71.0,-1.183333
23133,Old Faithful,10510800,1.5min,OFVCL-EV,1970-05-02 15:40:00,1970,-50.0,-0.833333
23134,Old Faithful,10513800,4.25m,OFVCL-EV,1970-05-02 16:30:00,1970,-67.0,-1.116667
23135,Old Faithful,10517820,4m,OFVCL-EV,1970-05-02 17:37:00,1970,-81.0,-1.350000
23136,Old Faithful,10522680,1.75min,OFVCL-EV,1970-05-02 18:58:00,1970,-43.0,-0.716667

In [29]:
df['dur'] = df['duration'].str.findall('\d+')

In [30]:
df.head()

,geyser,eruption_time_epoch,duration,observer,date,year,waiting_time_mins,waiting_time_hrs,dur
eruptionID,,,,,,,,,
23132,Old Faithful,10506540,4min,OFVCL-EV,1970-05-02 14:29:00,1970,-71.0,-1.183333,[4]
23133,Old Faithful,10510800,1.5min,OFVCL-EV,1970-05-02 15:40:00,1970,-50.0,-0.833333,"[1, 5]"
23134,Old Faithful,10513800,4.25m,OFVCL-EV,1970-05-02 16:30:00,1970,-67.0,-1.116667,"[4, 25]"
23135,Old Faithful,10517820,4m,OFVCL-EV,1970-05-02 17:37:00,1970,-81.0,-1.350000,[4]
23136,Old Faithful,10522680,1.75min,OFVCL-EV,1970-05-02 18:58:00,1970,-43.0,-0.716667,"[1, 75]"

In [13]:
df.to_csv('geyser_times_data.csv', encoding='utf-8', index=True)

In [45]:
combined_df = pd.read_csv('real_master.csv', index_col='eruptionID')

C:\Users\Geopetal Energy\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168081 entries, 23132 to 199819982513
Data columns (total 9 columns):
geyser                 168080 non-null object
eruption_time_epoch    168080 non-null float64
duration               39045 non-null object
observer               108140 non-null object
date                   168080 non-null object
dur                    38862 non-null object
waiting_min            168006 non-null float64
waiting_hr             168005 non-null float64
year                   168080 non-null float64
dtypes: float64(4), object(5)
memory usage: 12.8+ MB

In [47]:
combined_df.head()

,geyser,eruption_time_epoch,duration,observer,date,dur,waiting_min,waiting_hr,year
eruptionID,,,,,,,,,
23132,Old Faithful,10506540.0,4min,OFVCL-EV,05/02/1970 14:29,4,71.0,1.18,1970.0
23133,Old Faithful,10510800.0,1.5min,OFVCL-EV,05/02/1970 15:40,1.5,50.0,0.83,1970.0
23134,Old Faithful,10513800.0,4.25m,OFVCL-EV,05/02/1970 16:30,4.25,67.0,1.12,1970.0
23135,Old Faithful,10517820.0,4m,OFVCL-EV,05/02/1970 17:37,4,81.0,1.35,1970.0
23136,Old Faithful,10522680.0,1.75min,OFVCL-EV,05/02/1970 18:58,1.75,43.0,0.72,1970.0

In [48]:
df_waiting = combined_df.copy()

In [49]:
df_waiting['waiting_min']=pd.to_numeric(df_waiting['waiting_min'],errors='coerce')
df_waiting.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168081 entries, 23132 to 199819982513
Data columns (total 9 columns):
geyser                 168080 non-null object
eruption_time_epoch    168080 non-null float64
duration               39045 non-null object
observer               108140 non-null object
date                   168080 non-null object
dur                    38862 non-null object
waiting_min            168006 non-null float64
waiting_hr             168005 non-null float64
year                   168080 non-null float64
dtypes: float64(4), object(5)
memory usage: 12.8+ MB

In [50]:
df_waiting = df_waiting.loc[~df_waiting['waiting_min'].isna()]
df_waiting.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168006 entries, 23132 to 199819982513
Data columns (total 9 columns):
geyser                 168006 non-null object
eruption_time_epoch    168006 non-null float64
duration               38993 non-null object
observer               108140 non-null object
date                   168006 non-null object
dur                    38810 non-null object
waiting_min            168006 non-null float64
waiting_hr             168005 non-null float64
year                   168006 non-null float64
dtypes: float64(4), object(5)
memory usage: 12.8+ MB

In [56]:
df_wait_filt = df_waiting[(df_waiting['waiting_min'] < 200)]

In [60]:
filt_df = df_wait_filt[(df_wait_filt['waiting_min']> 2)]

In [61]:
filt_df.count()

geyser                 144854
eruption_time_epoch    144854
duration                32541
observer                97190
date                   144854
dur                     32451
waiting_min            144854
waiting_hr             144853
year                   144854
dtype: int64

In [62]:
filt_df.to_csv('waiting_filtered.csv', encoding='utf-8', index=True)

In [63]:
duration_df = filt_df.dropna()

In [64]:
duration_df.count()

geyser                 20895
eruption_time_epoch    20895
duration               20895
observer               20895
date                   20895
dur                    20895
waiting_min            20895
waiting_hr             20895
year                   20895
dtype: int64

In [65]:
duration_df.to_csv('duration.csv', encoding='utf-8', index=True)